:root {
    --primary-color: #0c0c0e;
    --secondary-color: #2d313a;
    --background-color: #f8f0a7;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    margin: 1dvw;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin-top: calc(var(--spacing-unit));
    margin-bottom: var(--spacing-unit);
}

p {
    margin-bottom: calc(var(--spacing-unit) * 2);
    line-height: 1.6;
    color: var(--secondary-color);
}

div {
    margin: calc(var(--spacing-unit) / 2);
    padding: calc(var(--spacing-unit) / 2);
}



.card { 
    background: #fff; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    max-width: 350px; width: 100%; 
    transition: transform 0.3s ease; } 

.card:hover { 
    transform: translateY(-5px); 
}

.video-container iframe {
    position: static;
    top: 0;
    left: 0;
    border: 0;
    display: inline-flexbox; 
}

.radio-align {
    display: inline-flex;
    grid-column: auto;
    gap: 3em;
}

.btn { display: inline-block; 
    padding: 10px 20px; 
    background: #f8f0a7; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    color: var(--primary-color);
} 

.btn:hover { 
    background: #e0d88c; 
    color: var(--primary-color);
    border-radius: 1em;
    border-color: var(--primary-color);
}


.progress-container {
    position: sticky;
    top: 0;
    background: white;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    text-align: center;
}

.progress-bar-bg {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-fill {
    height: 100%;
    width: 0%; /* Will be updated by JS */
    background-color: #4caf50;
    transition: width 0.4s ease-in-out;
}

#doc1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
}